.MainProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    .MainProductImg {
        width: 450px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .MainProductInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}